<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>jQuery Photo Album</title>
  </head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="styles.css" media="screen" title="no title" charset="utf-8">
  <script type="text/template" id="albumsHomePage">
    <li><a href=""><div class="album-wrapper" id="<%= albumRel %>">
    <img src="<%= albumURL %>"/><h3><%= albumTitle %></h3></div></a></li>
  </script>
  <script type="text/template" id="photoContainerTmpl">
    <div id="<%= albumTitle %>" class="container"><h1 class="album-headline"><%= albumTitle %></h1><ul>
  </script>
  <script type="text/template" id="photoTmpl">
    <li><a href=""><div class="photo-wrapper"><img src="<%= url %> rel="<%= rel %>"/><h3><%= name %></h3></div></a></li>
  </script>
  <body>
      <!-- BEGIN ALL SECTIONS HOLDER -->
      <div class="section-holder">


        <!-- BEGIN ALBUM SECTION -->
        <section id="homepage">
          <header><h1>My Albums</h1></header>
          <div class="container">
            <ul id="albums">
            </ul>
        </div>
        </section>


        <!-- START OF PHOTOS SECTION -->
        <section id="photos-page" class="hidden">
          <aside class="left-buttons">
            <div class="container">
              <ul>
                <li><div class="homeButton"><h4>Home</h4></div></li>
                <li><div class="button-1"><h4>Surfing</h4></div></li>
                <li><div class="button-2"><h4>Snow</h4></div></li>
                <li><div class="button-3"><h4>Dogs</h4></div></li>
                <li><div class="button-4"><h4>Sunsets</h4></div></li>
                <li><div class="button-5"><h4>Tropics</h4></div></li>
                <li><div class="button-6"><h4>Food</h4></div></li>
              </ul>
            </div>
          </aside>


          <!-- ALBUM PHOTOS -->
          <div class="right-col">

          </div>
        </section>


        <!-- START OF BIG PHOTO SECTION -->
        <section data-custom="page" id="big-photo-section" class="hidden">
          <div class="bigPicContainer">
            <div class="nav">
              <div class="backToAlbum">
                <h2>Back to Album 1</h2>
              </div>
              <div class="photoNumber">
                <h1>Photo 1</h1>
              </div>
            </div>
            <div class="bigPic">
              <img src="images/surfing1.jpg" alt="" />
              <span class="mega-octicon octicon-chevron-right next"></span>
              <span class="mega-octicon octicon-chevron-left previous"></span>
            </div>
          </div>
        </section>
        <!-- END OF BIG PHOTO SECTION -->

    </div> <!-- END OF SECTION HOLDER -->

    <footer>
      <h3>Footer Text</h3>
    </footer>
    <script src="bower_components/jquery/dist/jquery.js" charset="utf-8"></script>
    <script src="bower_components/underscore/underscore.js" charset="utf-8"></script>
    <script src="objects.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
